h1, p {
    text-align: center;
  }
  
  p {
    color: MediumSpringGreen;
    
  }
  
  html {
    background-color: teal;
  }
  
  table, th, td {
    border-style: solid;
    border-width: 5px;
    border-color: darkgray;
    font-family: monospace;
  }
  
  .cursive {
    font-family: cursive;
  }
  
  .emoji {
    font-family: emoji;
  }